#forma {
    margin: 100px auto;

}

.botoes {
    text-align: center;
    margin: 50px;
}

.circulo {
    width: 130px;
    height: 130px;
    background-color: green;
    border: 2px solid black;
    border-radius: 70px;
}

.quadrado{
    width: 150px;
    height: 150px;
    background-color: blue;
    border: 2px solid black;
    
}

.retangulo{
    width: 250px;
    height: 150px;
    background-color: yellow;
    border: 2px solid black;
}

.estrela {
    margin: 100px;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
  }
  .estrela:before {
    border-bottom: 80px solid red;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  .estrela:after {
    position: absolute;
    display: block;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid red;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }